version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo-db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend # <-- replace with your pushed image name
    container_name: mern-backend
    depends_on:
      - mongo
    environment:
      PORT: 5000
      MONGO_URI: "mongodb://mongouser:mongopass@mongo:27017/mern_test?authSource=admin"
    ports:
      - "5000:5000"

volumes:
  mongo-data:
