apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: app
          image: nginx
          envFrom:
            - configMapRef:
                name: app-config

            - secretRef:
                name: db-secret

            - name: DB_PASSWORD
              valueFrom:
  

          volumeMounts:
            - name: app-storage
              mountPath: /usr/share/nginx/html

            - name: config-volume
              mountPath: /etc/app/config

            - name: secret-volume
              mountPath: /etc/app/secret
              readOnly: true

      volumes:
        - name: app-storage
          persistentVolumeClaim:
            claimName: app-pvc

        - name: config-volume
          configMap:
            name: app-config

        - name: secret-volume
          secret:
            secretName: db-secret

